.notes {
    display: flex;
    justify-content: flex-start;
    background: #4e4c4c;
    padding: 0px 3px;
    border-radius: 3px;
    margin-top: 3px;
}
.notes p{
    font-size: 9px;
    font-weight: 300;
    color: #fff;
}
.notes.notes__count {
    width: 30%;
}
.notes.notes__count span{
    font-size: 10px;
    color: #b3b1b1;
    line-height: 12px;
}